@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200..900');



*{
    font-family: 'Silkscreen', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #13171D;
}
.container{
    position: relative;
    color: rgb(1, 255, 242);
}
#canvas{
    border: 10px solid rgb(2, 39, 68);
    box-shadow: 0 0 50px rgb(91, 199, 223);
}

.container .score{
    position: absolute;
    top: 0;
    left: 12px;
    font-size: 40px;
}

.container .time{
    position: absolute;
    top: 0;
    right: 12px;
    font-size: 40px;
}


.container .menu{
    border: 2px solid rgb(1, 255, 242);
    background-color: rgb(0, 0, 0,0.5);
    border-radius: 8px;
    position: absolute;
    width: 70%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.container .menu h2{
    font-size: 70px;
}
.container .characters{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
}
#snake-1, #snake-2{
    border: 2px solid rgb(1, 255, 242);
    border-radius: 20px;
    cursor: pointer;
}
#snake-1:hover, #snake-2:hover{
    background-color: rgb(255, 255, 255,0.1);
}
.container .menu p{
    font-size: 15px;
    animation: parpadeo 1s infinite;
}
@keyframes parpadeo{
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}